/* profile.module.css */

.profileSidebar {
  width: 280px;
  height: auto;
  max-height: 477px;
  position: fixed;
  top: 50px;
  left: 1110px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 30px;
  gap: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profileLogo {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 20px;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  width: 220px;
  height: 37px;
  color: #000000;
  margin: 0 auto;
}
.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #8f8f90;
  margin-top: 10px;
  margin-top: 30px;
  width: 189px;
  margin-left: 48px;
}
.location {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-top: 10px;
  color: #8f8f90;
}

.editButton {
  width: 119px;
  height: 34px;
  border-radius: 50px;
  border: 1px solid #ee2e12;
  padding: 10px 20px;
  gap: 12px;
  background-color: #fff;
  color: #ee2e12;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}

/*css*/
.imgprofile {
  display: flex;
  align-items: center;
}
.profileLogo2 {
  height: 60px;
  top: 8.4px;

  border-radius: 100px;
}
.ForrestHeader {
  font-family: Nexa, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.textareacom {
  width: 100%;
  height: 90px;
  top: 126px;
  left: 30px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  resize: none;
  margin-top: 15px;
}

.hori {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #d7d7d7 !important;
}

.ProfileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.buttonrow {
  display: flex;
  justify-content: space-evenly;
}

.emojibtn + .emojibtn {
  margin-left: 10px;
}

.emojibtn {
  width: 75px;
  height: 64px;
  border-radius: 10px;
  padding: 14px 7px;
  gap: 5px;
  background-color: #f4f4f5;
  color: black;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.emoji {
  width: 22px;
  height: 22px;
}

.emojitext {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18.29px;
  text-align: center;
}

.postButton {
  width: 170px;
  height: 43px;
  top: 315px;
  left: 744px;
  border-radius: 50px;
  padding: 17px 20px;
  gap: 12px;
  opacity: 0.38;
  background-color: #ee2e12;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.postButton img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.rightarrowLogo {
  width: 18px;
  height: 18px;
  position: relative;
  top: -0px;
  left: -0px;
  display: inline-block;
}

.ForrestContainer {
  margin-left: 20px;
}

.posting {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;
}
