/* profile.module.css */

.profileSidebar {
  width: 280px;
  height: auto;
  max-height: 477px;
  position: fixed;
  top: 50px;
  left: 1110px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 30px;
  gap: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profileLogo {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: block;
  margin: 0 auto 20px;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  width: 220px;
  height: 37px;
  color: #000000;
  margin: 0 auto;
}
.text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #8f8f90;
  margin-top: 10px;
  margin-top: 30px;
  width: 189px;
  margin-left: 48px;
}
.location {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-top: 10px;
  color: #8f8f90;
}

.editButton {
  width: 119px;
  height: 34px;
  border-radius: 50px;
  border: 1px solid #ee2e12;
  padding: 10px 20px;
  gap: 12px;
  background-color: #fff;
  color: #ee2e12;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}
